<div class="page-header">
    <h1>Post</h1>
</div>

<%= render @post %>

<%= link_to "Home", posts_path, class: "btn btn-default" %>

<h3>Comments</h3>
<%= render @post.comments %>

<%= form_for @post.comments.build do |f|  %>
    <div class="form-group" >
        <%= f.text_area :body, placeholder: "Type in new comment here", class: "form-control" %>
    </div>
        <%= f.hidden_field :post_id %><br>
        <%= f.submit class: "btn btn-primary" %>
<%  end %> 